<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>陪玩列表页</title>
</head>
<body>
<div id="app">
    <!--头部导航-->
    <head-nav></head-nav>

    <!--内容区content-->
    <div class="content-play">
        <!--筛选列表区域-->
        <div class="filtrate">
            <!--游戏服务-->
            <div class="filtrate-item clear_fix">
                <div class="f_left" style="margin-top: 15px;">游戏服务</div>
                <div style="margin-left: 50px;" class="f_left">
                    <div class="clear_fix rowbox">
                        <div class="f_left rowbox-cell" style="width:80px;">
                            <div class="box_radius4 pad_v15">
                                icon
                            </div>
                            <a href="http://www.leigod.com" class="rowbox-cell-txt">APEX</a>
                        </div>
                        <div class="f_left rowbox-cell" style="width: 80px;margin-left: 25px;">
                            <div class="box_radius4 pad_v15">
                                icon
                            </div>
                            <a href="http://www.leigod.com" class="rowbox-cell-txt">LOL</a>
                        </div>
                        <div class="f_left rowbox-cell" style="width: 80px;margin-left: 25px;">
                            <div class="box_radius4 pad_v15">
                                icon
                            </div>
                            <a href="http://www.leigod.com" class="rowbox-cell-txt">DATA2</a>
                        </div>
                        <div class="f_left rowbox-cell" style="width: 80px;margin-left: 25px;">
                            <div class="box_radius4 pad_v15">
                                icon
                            </div>
                            <a href="http://www.leigod.com" class="rowbox-cell-txt">PUBG</a>
                        </div>
                        <div class="f_left rowbox-cell" style="width: 80px;margin-left: 25px;">
                            <div class="box_radius4 pad_v15">
                                icon
                            </div>
                            <a href="http://www.leigod.com" class="rowbox-cell-txt">PUBG</a>
                        </div>
                        <div class="f_left rowbox-cell" style="width: 80px;margin-left: 25px;">
                            <div class="box_radius4 pad_v15">
                                icon
                            </div>
                            <a href="http://www.leigod.com" class="rowbox-cell-txt">PUBG</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--娱乐服务-->
            <div class="filtrate-item clear_fix">
                <div class="f_left" style="margin-top: 15px;">娱乐服务</div>
                <div style="margin-left: 50px;" class="f_left">
                    <div class="clear_fix rowbox">
                        <div class="f_left rowbox-cell" style="width:80px;">
                            <div class="box_radius4 pad_v15">
                                icon
                            </div>
                            <a href="http://www.leigod.com" class="rowbox-cell-txt">APEX</a>
                        </div>
                        <div class="f_left rowbox-cell" style="width: 80px;margin-left: 25px;">
                            <div class="box_radius4 pad_v15">
                                icon
                            </div>
                            <a href="http://www.leigod.com" class="rowbox-cell-txt">LOL</a>
                        </div>
                        <div class="f_left rowbox-cell" style="width: 80px;margin-left: 25px;">
                            <div class="box_radius4 pad_v15">
                                icon
                            </div>
                            <a href="http://www.leigod.com" class="rowbox-cell-txt">DATA2</a>
                        </div>
                        <div class="f_left rowbox-cell" style="width: 80px;margin-left: 25px;">
                            <div class="box_radius4 pad_v15">
                                icon
                            </div>
                            <a href="http://www.leigod.com" class="rowbox-cell-txt">PUBG</a>
                        </div>
                        <div class="f_left rowbox-cell" style="width: 80px;margin-left: 25px;">
                            <div class="box_radius4 pad_v15">
                                icon
                            </div>
                            <a href="http://www.leigod.com" class="rowbox-cell-txt">PUBG</a>
                        </div>
                        <div class="f_left rowbox-cell" style="width: 80px;margin-left: 25px;">
                            <div class="box_radius4 pad_v15">
                                icon
                            </div>
                            <a href="http://www.leigod.com" class="rowbox-cell-txt">PUBG</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--陪玩段位-->
            <div class="filtrate-item clear_fix">
                <div class="f_left" style="">陪玩段位</div>
                <div style="margin-left: 50px;" class="f_left">
                    <ul class="clear_fix" style="margin-top: 0;">
                        <li class="filtrate-item_cell" style=""><a href="#">全部</a></li>
                        <li class="filtrate-item_cell" style=""><a href="#">段位一</a></li>
                        <li class="filtrate-item_cell" style=""><a href="#">段位二</a></li>
                    </ul>
                </div>
            </div>
            <!--陪玩性别-->
            <div class="filtrate-item clear_fix">
                <div class="f_left" style="">陪玩性别</div>
                <div style="margin-left: 50px;" class="f_left">
                    <ul class="clear_fix" style="margin-top: 0;">
                        <li class="filtrate-item_cell" style=""><a href="#">全部</a></li>
                        <li class="filtrate-item_cell" style=""><a href="#">男</a></li>
                        <li class="filtrate-item_cell" style=""><a href="#">女</a></li>
                    </ul>
                </div>
            </div>
            <!--年龄区间-->
            <div class="filtrate-item clear_fix">
                <div class="f_left" style="">年龄区间</div>
                <div style="margin-left: 50px;" class="f_left">
                    <ul class="clear_fix" style="margin-top: 0;">
                        <li class="filtrate-item_cell" style=""><a href="#">全部</a></li>
                        <li class="filtrate-item_cell" style=""><a href="#">18岁以下</a></li>
                        <li class="filtrate-item_cell" style=""><a href="#">18-20岁</a></li>
                        <li class="filtrate-item_cell" style=""><a href="#">21-26岁</a></li>
                        <li class="filtrate-item_cell" style=""><a href="#">27-35岁</a></li>
                        <li class="filtrate-item_cell" style=""><a href="#">35岁以上</a></li>
                    </ul>
                </div>
            </div>
            <!--地理位置-->
            <div class="filtrate-item clear_fix">
                <div class="f_left" style="margin-top: 4px;">地理位置</div>
                <div style="margin-left: 50px;" class="f_left">
                    <ul class="clear_fix">
                        <li style="width: 150px;" class="f_left">
                            <!--地区选择组件-->
                            <el-select size="small" v-model="region" filterable placeholder="选择省市/直辖市/自治区">
                                <el-option
                                        v-for="item in options"
                                        :key="item.value"
                                        :label="item.label"
                                        :value="item.value">
                                </el-option>
                            </el-select>
                        </li>
                        <li style="width: 150px;margin-left: 20px;" class="f_left">
                            <el-select size="small" v-model="region" filterable placeholder="选择市/区">
                                <el-option
                                        v-for="item in options"
                                        :key="item.value"
                                        :label="item.label"
                                        :value="item.value">
                                </el-option>
                            </el-select>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--主播列表区域-->
        <div style="background-color: #fff;">
            <!--主播列表顶部筛选栏-->
            <div class="tab-playlist">
                <div class="tab-playlist_cell tab-palylist_active">综合</div>
                <div class="tab-playlist_cell">价格</div>
                <div class="tab-playlist_cell">新秀</div>
            </div>
            <!--主播列表展示区-->

            <div class="online-now">
                <ul class="online-now_box">
                    <li class="online-now_cell">
                        <!--图片-->
                        <a class="online-now_img" style="width: 100%;hieght: 100px;">
                            <img class="img_filter" src="./images/index/test-online.png" alt="">
                        </a>
                        <div class="online-now_txt mar_t5">
                            <div class="clear_fix online-txt_t">
                                <div style="width: 50%;" class="f_left words_flow">吃货一枚的熊吃货一枚的熊</div>
                                <div style="font-weight: bold" class="f_right">王者荣耀</div>
                            </div>
                            <div class="mar_t15 clear_fix online-txt_c">
                                <div class="f_left mar_t5">
                                    <span><i class="iconfont iconnv"></i>女</span>
                                    <span style="font-size: 14px"><i class="iconfont icondidian_fuzhi"></i>武汉</span>
                                </div>
                                <div class="f_right icon-level">
                                    璀璨钻石
                                </div>
                            </div>
                            <div class="clear_fix mar_t15">
                                <!--语音-->
                                <div class="f_left public-orange_btn">
                                    <span><i class="iconfont iconshouyeicon_shengyouliaotian_ mar_r15"></i>00:22</span>
                                </div>
                                <!--价格-->
                                <div class="f_right font-order_price">
                                    <span>99</span>元/小时
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="online-now_cell">
                        <!--图片-->
                        <a class="online-now_img" style="width: 100%;hieght: 100px;">
                            <img class="img_filter" src="./images/index/test-online.png" alt="">
                        </a>
                        <div class="online-now_txt mar_t5">
                            <div class="clear_fix online-txt_t">
                                <div style="width: 50%;" class="f_left words_flow">吃货一枚的熊吃货一枚的熊</div>
                                <div style="font-weight: bold" class="f_right">王者荣耀</div>
                            </div>
                            <div class="mar_t15 clear_fix online-txt_c">
                                <div class="f_left mar_t5">
                                    <span><i class="iconfont iconnv"></i>女</span>
                                    <span style="font-size: 14px"><i class="iconfont icondidian_fuzhi"></i>武汉</span>
                                </div>
                                <div class="f_right icon-level">
                                    璀璨钻石
                                </div>
                            </div>
                            <div class="clear_fix mar_t15">
                                <!--语音-->
                                <div class="f_left public-orange_btn">
                                    <span><i class="iconfont iconshouyeicon_shengyouliaotian_ mar_r15"></i>00:22</span>
                                </div>
                                <!--价格-->
                                <div class="f_right font-order_price">
                                    <span>99</span>元/小时
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="online-now_cell">
                        <!--图片-->
                        <a class="online-now_img" style="width: 100%;hieght: 100px;">
                            <img class="img_filter" src="./images/index/test-online.png" alt="">
                        </a>
                        <div class="online-now_txt mar_t5">
                            <div class="clear_fix online-txt_t">
                                <div style="width: 50%;" class="f_left words_flow">吃货一枚的熊吃货一枚的熊</div>
                                <div style="font-weight: bold" class="f_right">王者荣耀</div>
                            </div>
                            <div class="mar_t15 clear_fix online-txt_c">
                                <div class="f_left mar_t5">
                                    <span><i class="iconfont iconnv"></i>女</span>
                                    <span style="font-size: 14px"><i class="iconfont icondidian_fuzhi"></i>武汉</span>
                                </div>
                                <div class="f_right icon-level">
                                    璀璨钻石
                                </div>
                            </div>
                            <div class="clear_fix mar_t15">
                                <!--语音-->
                                <div class="f_left public-orange_btn">
                                    <span><i class="iconfont iconshouyeicon_shengyouliaotian_ mar_r15"></i>00:22</span>
                                </div>
                                <!--价格-->
                                <div class="f_right font-order_price">
                                    <span>99</span>元/小时
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="online-now_cell">
                        <!--图片-->
                        <a class="online-now_img" style="width: 100%;hieght: 100px;">
                            <img class="img_filter" src="./images/index/test-online.png" alt="">
                        </a>
                        <div class="online-now_txt mar_t5">
                            <div class="clear_fix online-txt_t">
                                <div style="width: 50%;" class="f_left words_flow">吃货一枚的熊吃货一枚的熊</div>
                                <div style="font-weight: bold" class="f_right">王者荣耀</div>
                            </div>
                            <div class="mar_t15 clear_fix online-txt_c">
                                <div class="f_left mar_t5">
                                    <span><i class="iconfont iconnv"></i>女</span>
                                    <span style="font-size: 14px"><i class="iconfont icondidian_fuzhi"></i>武汉</span>
                                </div>
                                <div class="f_right icon-level">
                                    璀璨钻石
                                </div>
                            </div>
                            <div class="clear_fix mar_t15">
                                <!--语音-->
                                <div class="f_left public-orange_btn">
                                    <span><i class="iconfont iconshouyeicon_shengyouliaotian_ mar_r15"></i>00:22</span>
                                </div>
                                <!--价格-->
                                <div class="f_right font-order_price">
                                    <span>99</span>元/小时
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="online-now_cell">
                        <!--图片-->
                        <a class="online-now_img" style="width: 100%;hieght: 100px;">
                            <img class="img_filter" src="./images/index/test-online.png" alt="">
                        </a>
                        <div class="online-now_txt mar_t5">
                            <div class="clear_fix online-txt_t">
                                <div style="width: 50%;" class="f_left words_flow">吃货一枚的熊吃货一枚的熊</div>
                                <div style="font-weight: bold" class="f_right">王者荣耀</div>
                            </div>
                            <div class="mar_t15 clear_fix online-txt_c">
                                <div class="f_left mar_t5">
                                    <span><i class="iconfont iconnv"></i>女</span>
                                    <span style="font-size: 14px"><i class="iconfont icondidian_fuzhi"></i>武汉</span>
                                </div>
                                <div class="f_right icon-level">
                                    璀璨钻石
                                </div>
                            </div>
                            <div class="clear_fix mar_t15">
                                <!--语音-->
                                <div class="f_left public-orange_btn">
                                    <span><i class="iconfont iconshouyeicon_shengyouliaotian_ mar_r15"></i>00:22</span>
                                </div>
                                <!--价格-->
                                <div class="f_right font-order_price">
                                    <span>99</span>元/小时
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="online-now_cell">
                        <!--图片-->
                        <a class="online-now_img" style="width: 100%;hieght: 100px;">
                            <img class="img_filter" src="./images/index/test-online.png" alt="">
                        </a>
                        <div class="online-now_txt mar_t5">
                            <div class="clear_fix online-txt_t">
                                <div style="width: 50%;" class="f_left words_flow">吃货一枚的熊吃货一枚的熊</div>
                                <div style="font-weight: bold" class="f_right">王者荣耀</div>
                            </div>
                            <div class="mar_t15 clear_fix online-txt_c">
                                <div class="f_left mar_t5">
                                    <span><i class="iconfont iconnv"></i>女</span>
                                    <span style="font-size: 14px"><i class="iconfont icondidian_fuzhi"></i>武汉</span>
                                </div>
                                <div class="f_right icon-level">
                                    璀璨钻石
                                </div>
                            </div>
                            <div class="clear_fix mar_t15">
                                <!--语音-->
                                <div class="f_left public-orange_btn">
                                    <span><i class="iconfont iconshouyeicon_shengyouliaotian_ mar_r15"></i>00:22</span>
                                </div>
                                <!--价格-->
                                <div class="f_right font-order_price">
                                    <span>99</span>元/小时
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="online-now_cell">
                        <!--图片-->
                        <a class="online-now_img" style="width: 100%;hieght: 100px;">
                            <img class="img_filter" src="./images/index/test-online.png" alt="">
                        </a>
                        <div class="online-now_txt mar_t5">
                            <div class="clear_fix online-txt_t">
                                <div style="width: 50%;" class="f_left words_flow">吃货一枚的熊吃货一枚的熊</div>
                                <div style="font-weight: bold" class="f_right">王者荣耀</div>
                            </div>
                            <div class="mar_t15 clear_fix online-txt_c">
                                <div class="f_left mar_t5">
                                    <span><i class="iconfont iconnv"></i>女</span>
                                    <span style="font-size: 14px"><i class="iconfont icondidian_fuzhi"></i>武汉</span>
                                </div>
                                <div class="f_right icon-level">
                                    璀璨钻石
                                </div>
                            </div>
                            <div class="clear_fix mar_t15">
                                <!--语音-->
                                <div class="f_left public-orange_btn">
                                    <span><i class="iconfont iconshouyeicon_shengyouliaotian_ mar_r15"></i>00:22</span>
                                </div>
                                <!--价格-->
                                <div class="f_right font-order_price">
                                    <span>99</span>元/小时
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="online-now_cell">
                        <!--图片-->
                        <a class="online-now_img" style="width: 100%;hieght: 100px;">
                            <img class="img_filter" src="./images/index/test-online.png" alt="">
                        </a>
                        <div class="online-now_txt mar_t5">
                            <div class="clear_fix online-txt_t">
                                <div style="width: 50%;" class="f_left words_flow">吃货一枚的熊吃货一枚的熊</div>
                                <div style="font-weight: bold" class="f_right">王者荣耀</div>
                            </div>
                            <div class="mar_t15 clear_fix online-txt_c">
                                <div class="f_left mar_t5">
                                    <span><i class="iconfont iconnv"></i>女</span>
                                    <span style="font-size: 14px"><i class="iconfont icondidian_fuzhi"></i>武汉</span>
                                </div>
                                <div class="f_right icon-level">
                                    璀璨钻石
                                </div>
                            </div>
                            <div class="clear_fix mar_t15">
                                <!--语音-->
                                <div class="f_left public-orange_btn">
                                    <span><i class="iconfont iconshouyeicon_shengyouliaotian_ mar_r15"></i>00:22</span>
                                </div>
                                <!--价格-->
                                <div class="f_right font-order_price">
                                    <span>99</span>元/小时
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!--底部导航-->
    <foot-nav></foot-nav>
</div>
</body>
</html>